.btn-primary {
  border-radius: 12rem;
  background-color: $gray-01;
  color: $white;
  font-size: 1.3rem;
  font-weight: 600;
  letter-spacing: -0.026rem;
  padding: 0.8rem 3rem;
  transition: background-color 0.3s ease;
  &:hover {
    background-color: $gray-02;
  }
}
