$primary-color-default: #f22824;
$primary-color-light: #dc292e;
$secondary-color: #ffe211;
$gradient: linear-gradient(180deg, #ffea0d 0%, #ffc120 100%);
$gray-01: #343a40;
$gray-02: #495057;
$gray-03: #adb5bd;
$white: #ffffff;
